<section class="guarant">
  <h2 class="guarant__title">Мы гарантируем</h2>
  <div class="container">
    <div class="guarant__box">
      <ul class="guarant__list">
        <li class="guarant__item">
          <span class="guarant__box-item">
            <p class="guarant__text">
              Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
              тестировании. Иначе мы вернем деньги.<span class="guarant__remark">*</span>
            </p>
          </span>
        </li>
        <li class="guarant__item">
          <span class="guarant__box-item">
            <p class="guarant__text">
              Ты научишься писать сочинения минимум на 10 баллов из 14.<span class="guarant__remark">
                В то время как 20% учеников получили за сочинение 0.</span>
            </p>
          </span>
        </li>
        <li class="guarant__item">
          <span class="guarant__box-item">
            <p class="guarant__text">
              Ты будешь заниматься в своем районе. Мы выберем место проведения
              занятий после формирования команд.
            </p>
          </span>
        </li>
        <li class="guarant__item">
          <span class="guarant__box-item">
            <p class="guarant__text">
              Команды будут сформированы, исходя из начального уровня
              учеников. Мы учитываем особенности каждого ученика
            </p>
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>